:root {
    --orange: #ff7f00;
    --orange-dark: #cc5500;
}

.text-orange {
    color: var(--orange-dark);
}

.btn-orange {
    background-color: var(--orange);
    border: none;
    color: white;
    font-weight: 600;
}

.btn-orange:hover {
    background-color: var(--orange-dark);
}

.accordion-button:not(.collapsed) {
    background-color: rgba(255, 127, 0, 0.1);
    color: var(--orange-dark);
}

.card {
    border-left: 5px solid var(--orange);
}
