<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseController</servlet-name>
        <servlet-class>controller.CreateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChapterController</servlet-name>
        <servlet-class>controller.CreateChapterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLessonController</servlet-name>
        <servlet-class>controller.CreateLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMaterial</servlet-name>
        <servlet-class>controller.UploadMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizController</servlet-name>
        <servlet-class>controller.CreateLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileController</servlet-name>
        <servlet-class>controller.MyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLearnerCourse</servlet-name>
        <servlet-class>controller.HomeLearnerCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>controller.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyLearningController</servlet-name>
        <servlet-class>controller.MyLearningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyChaptersController</servlet-name>
        <servlet-class>controller.MyChaptersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyLessonController</servlet-name>
        <servlet-class>controller.MyLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageReport</servlet-name>
        <servlet-class>controller.ManageReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDetail</servlet-name>
        <servlet-class>controller.ReportDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCourse</servlet-name>
        <servlet-class>controller.ManageCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccount</servlet-name>
        <servlet-class>controller.manageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIndex</servlet-name>
        <servlet-class>controller.AdminIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseController</servlet-name>
        <servlet-class>controller.SearchCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialListController</servlet-name>
        <servlet-class>controller.MaterialListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMaterialController</servlet-name>
        <servlet-class>controller.ViewMaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnPayController</servlet-name>
        <servlet-class>controller.VnPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReturnController</servlet-name>
        <servlet-class>controller.PaymentReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyContentLearningController</servlet-name>
        <servlet-class>controller.MyContentLearningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLessonProgressController</servlet-name>
        <servlet-class>controller.UpdateLessonProgressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseController</servlet-name>
        <servlet-class>controller.EditCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QnAQuestionController</servlet-name>
        <servlet-class>controller.QnAQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QnAReplyController</servlet-name>
        <servlet-class>controller.QnAReplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReport</servlet-name>
        <servlet-class>controller.SendReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizController</servlet-name>
        <servlet-class>controller.DoQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultController</servlet-name>
        <servlet-class>controller.QuizResultController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home_Guest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/instructor/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseController</servlet-name>
        <url-pattern>/instructor/createCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChapterController</servlet-name>
        <url-pattern>/instructor/createChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLessonController</servlet-name>
        <url-pattern>/instructor/createLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMaterial</servlet-name>
        <url-pattern>/instructor/uploadMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizController</servlet-name>
        <url-pattern>/instructor/createQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/instructor/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileController</servlet-name>
        <url-pattern>/myProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLearnerCourse</servlet-name>
        <url-pattern>/Learner/homeLearnerCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/courseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyLearningController</servlet-name>
        <url-pattern>/myLearning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyChaptersController</servlet-name>
        <url-pattern>/myChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyLessonController</servlet-name>
        <url-pattern>/myLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccount</servlet-name>
        <url-pattern>/admin/manageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndex</servlet-name>
        <url-pattern>/admin/adminIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourse</servlet-name>
        <url-pattern>/admin/manageCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseController</servlet-name>
        <url-pattern>/searchCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialListController</servlet-name>
        <url-pattern>/materialList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageReport</servlet-name>
        <url-pattern>/admin/manageReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDetail</servlet-name>
        <url-pattern>/admin/reportDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMaterialController</servlet-name>
        <url-pattern>/viewMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnPayController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReturnController</servlet-name>
        <url-pattern>/payment_return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyContentLearningController</servlet-name>
        <url-pattern>/myContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLessonProgressController</servlet-name>
        <url-pattern>/updateLessonProgress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseController</servlet-name>
        <url-pattern>/instructor/editCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QnAQuestionController</servlet-name>
        <url-pattern>/qnaQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QnAReplyController</servlet-name>
        <url-pattern>/qnaReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReport</servlet-name>
        <url-pattern>/instructor/sendReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizController</servlet-name>
        <url-pattern>/Learner/doQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResultController</servlet-name>
        <url-pattern>/Learner/quizResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
